<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953396293495-oa3un2bl4nsuja2h7gknm7rfnm1navfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953396293495-oa3un2bl4nsuja2h7gknm7rfnm1navfa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953396293495-a6rv7i7lpqtudp901oq2pt737rsicrec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8coENvhjA7lDeD93VbXzEKt6xPpgQzbg</string>
	<key>GCM_SENDER_ID</key>
	<string>953396293495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chinhph.englishApp.dev</string>
	<key>PROJECT_ID</key>
	<string>agile-ratio-393903</string>
	<key>STORAGE_BUCKET</key>
	<string>agile-ratio-393903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953396293495:ios:8519e7f564223f3bff3b72</string>
</dict>
</plist>